/* https://codepen.io/josecarneiro/pen/Kwbapp @import: "libs/base.less"; */
body {
    font-family: 'Open Sans',sans-serif !important;
    background-color: lightgray !important;
}
.payment{
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #fff;
    padding: 35px 45px;
}
.form-payment{
    font-family: 'Open Sans',sans-serif;
}
.title{

}
.form-group{

}
.form-item{

}
.icon{

}
.fa-solid{

}
.fa-user{

}
.fa-envelope{

}
.fa-lock{

}
.form-group2{

}
.group-left{

}
.group-right{

}
.card{

}
.fa-brands{

}
.fa-cc-visa{

}
.fa-cc-paypal{

}
.fa-credit-card{

}
.right{

}
.left{

}