body {
    font-family: 'Open Sans',sans-serif;
}

.contact{
    background-color: white;
    display: block;
    margin: 0 auto;
}
.contact-title{

}
.contact-form{

}
.form-group{

}
.form-input{

}
.form-submit{

}
.fa-solid{

}
.fa-arrow-right{

}