html {
    font-family: 'Open Sans',sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top,  #77C2EE, #CC89f2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in{
    background-color: #f1f0f0;
    border-radius: 10px;
    width: 100%;
    max-width: 390px;
    padding: 80px 55px 30px 55px;

}
.title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #4a2552;
    padding-bottom: 37px;
    line-height: 36px;
}

.form-item{
    padding-bottom: 15px;
}
form {
    background-color: #f1f0f0;
    color: black;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4a2552;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4a2552;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #4a2552;
  }
.form-item > .item{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0 30px;
    border: 0;
    color: #4a2552;
    font-weight: 700;
    font-size: 14px;
    height: 60px;
    width: 280px;
    outline: none;
}
.form-item > .item:focus {
    box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.2);
}
.btn-signin{
display: block;
  width: 160px;
  height: 50px;
  text-align: center;
  background-color: #bd59d4;
  color: #fff;
  border: 0;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  margin: 10px auto 65px auto;
text-transform: uppercase;
cursor: pointer;

}
.btn-signin:hover {
    background-color: #4b2354;
    box-shadow: 0 10px 30px 0 rgb(189 89 212 / 80%);
}
.chose {
    font-size: 16px;
    color: #999;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 30px;
}
.social{
    display: flex;
    
}
.sign-in-icon{
    display: block;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #ffffff;
    margin: 0 auto;
}
.facebook{

}
.fa-brands{

}
.fa-facebook{

}
.google{

}
.fa-google{

}
.sign-up{

}